






























































*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: pink;
}


footer{
    background: #343434;
    padding-top: 50px;

}

.container{
width: 1140px;
margin: auto;
display: flex;
justify-content: center;
}

.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul{
text-align: center;
}

.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18;
    transition-duration: .5s;
}

.list li:hover::before{
    width: 70px;
}

.social-icons li{
    text-align: center;
    display: inline-block ;
    padding: 5px;
}

.social-icons i{
    color: white;
    font-size: 25px;
}

a{
    text-decoration: none;
}

a:hover{
    color: #f18;
}

.social-icons i:hover{
    color: #f18;
}